body {
    margin: 0;
}
#caja {
    background-color: #2395d3;
    display: flex;
}
#menu {
    height: 1000px;
    width: 225px;
    background-color: #1f68b4;
}
#cuadricula {
    justify-content:space-around; 
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;

}
.cuadradito {
    text-align: center;
    background-color: #1f68b4;
    width: 45%;
    height: 400px;
}
.foto:hover {
    width: 1280px;
    height: 720px;
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 1;
    
}
#IMGheader{
    width: 87%;
}